#tag::oauth2[]
micronaut:
  security:
    authentication: cookie # <1>
    token:
      jwt:
        signatures:
          secret:
            generator: # <2>
              secret: '"${JWT_GENERATOR_SIGNATURE_SECRET:pleaseChangeThisSecretForANewOne}"' # <3>
    oauth2:
      clients:
        github: # <4>
          client-id:  '${OAUTH_CLIENT_ID:xxx}' # <5>
          client-secret: '${OAUTH_CLIENT_SECRET:yyy}' # <6>
          scopes: # <7>
            - user:email
            - read:user
            - public_repo
          authorization:
            url: 'https://github.com/login/oauth/authorize' # <8>
          token:
            url: 'https://github.com/login/oauth/access_token' # <9>
            auth-method: client_secret_post
    endpoints:
      logout:
        get-allowed: true # <10>
#end::oauth2[]
---
micronaut:
  application:
    name: micronautguide
---
#tag::micronaut-http-services[]
micronaut:
  http:
    services:
      githubv3:
        url: "https://api.github.com"
#end::micronaut-http-services[]
