<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::script},~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <script></script>
</head>
<body>
<main>
    <form action="/user/signup" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" th:value="${username}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
            <label for="repeatPassword" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword">
        </div>
        <input type="submit" class="btn btn-primary" value="Signup">
    </form>
    <th:block th:if="${error}"><div th:replace="~{alerts/danger :: danger(${error})}"></div></th:block>
</main>
</body>
</html>
