<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<h1>Micronaut - Keycloak example</h1>

{% if security %}
<h2>username: <span>{{ security.attributes.preferred_username }}</span></h2>
{% else %}
<h2>username: Anonymous</h2>
{% endif %}

<nav>
    <ul>
        {% if not security %}<li><a href="/oauth/login/keycloak">Enter</a></li>{% endif %}
        {% if security %}<li><a href="/oauth/logout">Logout</a></li>{% endif %}
    </ul>
</nav>
</body>
</html>
