micronaut:
  application:
    name: micronautguide
---
#tag::micronaut-email[]
micronaut:
  email:
    from:
      email: ${FROM_EMAIL:``} # <1>
      name: ${FROM_NAME:``} # <2>
#end::micronaut-email[]
---
#tag::smtp[]
smtp:
  password: ${SMTP_PASSWORD:``} # <1>
  user: ${SMTP_USER:``} # <2>
#end::smtp[]
#tag::javamail[]
javamail:
  properties:
    mail:
      smtp:
        port: 587
        auth: true
        starttls:
          enable: true
        host: ${SMTP_HOST:``} # <1>
#end::javamail[]
netty:
  default:
    allocator:
      max-order: 3
