<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        #if( $loggedIn )
            <h1>username: <span>$username</span></h1>
        #else
            <h1>You are not logged in</h1>
        #end
        #if( $loggedIn )
            <p><a href="/logout">Logout</a></p>
        #else
            <p><a href="/login/auth">Login</a></p>
        #end
    </body>
</html>
