<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Micronaut - OpenID Connect on Oracle Cloud</title>
</head>
<body>
<h1>Micronaut - OpenID Connect on Oracle Cloud</h1>

<h2 th:if="${security}">Username: <span th:text="${security.attributes.get('user_displayname')}"></span></h2>
<h2 th:unless="${security}">Username: Anonymous</h2>

<nav>
    <ul>
        <li th:unless="${security}"><a href="/oauth/login/oci">Enter</a></li>
        <li th:if="${security}"><a href="/logout">Logout</a></li>
    </ul>
</nav>
<div th:if="${security}">
    <h2>User Information:</h2>
    <ul>
        <li>user_tz: <span th:text="${security.attributes.get('user_tz')}"></span></li>
        <li>at_hash: <span th:text="${security.attributes.get('at_hash')}"></span></li>
        <li>sub: <span th:text="${security.attributes.get('sub')}"></span></li>
        <li>user_locale: <span th:text="${security.attributes.get('user_locale')}"></span></li>
        <li>idp_name: <span th:text="${security.attributes.get('idp_name')}"></span></li>
        <li>idp_guid: <span th:text="${security.attributes.get('idp_guid')}"></span></li>
        <li>amr: <span th:text="${security.attributes.get('amr')}"></span></li>
        <li>iss: <span th:text="${security.attributes.get('iss')}"></span></li>
        <li>user_tenantname: <span th:text="${security.attributes.get('user_tenantname')}"></span></li>
        <li>client_id: <span th:text="${security.attributes.get('client_id')}"></span></li>
        <li>authn_strength: <span th:text="${security.attributes.get('authn_strength')}"></span></li>
        <li>azp: <span th:text="${security.attributes.get('azp')}"></span></li>
        <li>auth_time: <span th:text="${security.attributes.get('auth_time')}"></span></li>
        <li>client_tenantname: <span th:text="${security.attributes.get('client_tenantname')}"></span></li>
        <li>user_lang: <span th:text="${security.attributes.get('user_lang')}"></span></li>
        <li>exp: <span th:text="${security.attributes.get('exp')}"></span></li>
        <li>iat: <span th:text="${security.attributes.get('iat')}"></span></li>
        <li>client_name: <span th:text="${security.attributes.get('client_name')}"></span></li>
        <li>client_guid: <span th:text="${security.attributes.get('client_guid')}"></span></li>
        <li>idp_type: <span th:text="${security.attributes.get('idp_type')}"></span></li>
        <li>tenant: <span th:text="${security.attributes.get('tenant')}"></span></li>
        <li>jti: <span th:text="${security.attributes.get('jti')}"></span></li>
        <li>user_displayname: <span th:text="${security.attributes.get('user_displayname')}"></span></li>
        <li>sub_mappingattr: <span th:text="${security.attributes.get('sub_mappingattr')}"></span></li>
        <li>primTenant: <span th:text="${security.attributes.get('primTenant')}"></span></li>
        <li>tok_type: <span th:text="${security.attributes.get('tok_type')}"></span></li>
        <li>nonce: <span th:text="${security.attributes.get('nonce')}"></span></li>
        <li>ca_guid: <span th:text="${security.attributes.get('ca_guid')}"></span></li>
        <li>aud: <span th:text="${security.attributes.get('aud')}"></span></li>
        <li>user_id: <span th:text="${security.attributes.get('user_id')}"></span></li>
        <li>tenant_iss: <span th:text="${security.attributes.get('tenant_iss')}"></span></li>
    </ul>
</div>
</body>
</html>
