<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fruits</title>
</head>
<body>
<main>
    <h1>Fruits</h1>
    <section id="fruit">
        <h2 th:text="${fruitName}"></h2>
        <p th:text="${fruitColor}"></p>
    </section>
    <div id="message">Choose another fruit</div>
    <form method="post" action="/fruits" hx-post="/fruits" hx-target="#fruit" hx-swap="outerHTML">
        <button type="submit">Choose Banana</button>
    </form>
</main>
</body>
</html>
