micronaut:
  application:
    name: micronautguide
---
#tag::datasource[]
datasources:
  default:
    url: jdbc:postgresql://localhost:5432/postgres  # <1>
    driverClassName: org.postgresql.Driver  # <2>
    dialect: POSTGRES # <3>
    schema-generate: NONE # <4>
#end::datasource[]
---
#tag::flyway[]
flyway:
  datasources:
    default:
      enabled: true # <1>
#end::flyway[]
---
#tag::endpoints[]
endpoints:
  flyway:
    enabled: true
    sensitive: false
#end::endpoints[]