micronaut:
  application:
    name: micronautguide
---
#tag::datasource[]
datasources:
  default:
    driverClassName: com.mysql.cj.jdbc.Driver  # <1>
    db-type: mysql
    dialect: MYSQL # <2>
#end::datasource[]
---
#tag::flyway[]
flyway:
  datasources:
    default:
      enabled: true # <1>
#end::flyway[]
---
#tag::endpoints[]
endpoints:
  flyway:
    enabled: true
    sensitive: false
#end::endpoints[]
