<th:block th:fragment="danger(message)" xmlns:th="http://www.thymeleaf.org">
    <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
        <strong th:if="${message.code()}" th:text="${#strings.defaultString(#messages.msgOrNull(message.code()),message.defaultMessage())}" class="form-label"></strong>
        <strong th:unless="${message.code()}" th:text="${message.defaultMessage()}"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</th:block>