blockquote {
    border-left: 5px solid gainsboro;
    padding-left: 20px;
}

table.build-language-grid {
    margin-left: 0;
    width: 97%;
}
table.build-language-grid td,
table.build-language-grid th {
    border: 1px dotted lightgrey;
    text-align: center;
}

span.icon>.fa{cursor:default;}
a span.icon>.fa{cursor:inherit;}
.admonitionblock td.content { line-height:1.45;margin-top:0;margin-bottom:.25em}
.admonitionblock {margin-bottom: 20px;}
.admonitionblock>table td.icon{text-align:center;width:80px;}
.admonitionblock>table td.icon img{max-width:none;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default;}
.admonitionblock td.icon .icon-note::before{content:"\f05a";color:#19407c;}
.admonitionblock td.icon .icon-tip::before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111;}
.admonitionblock td.icon .icon-warning::before{content:"\f071";color:#bf6900;}
.admonitionblock td.icon .icon-caution::before{content:"\f06d";color:#bf3400;}
.admonitionblock td.icon .icon-important::before{content:"\f06a";color:#bf0000;}
/* START - TABLE OF CONTENTS */
.category {
    background: #000000;
    color: #FFFFFF;
}
.toc {
    background: #2559a7;
    color: #FFFFFF;
}
@media (min-width: 768px) {
    .category,
    .toc {
        min-height: 289px;
    }
}
@media (min-width: 1200px) {
    .category,
    .toc {
        min-height: 349px;
    }
}
.guideindex .row .col-sm-4 {
    margin-bottom: 60px;
}
.categorygrid .row:last-child .col-sm-4 {
    margin-bottom: 0;
}
.categorygrid {
    overflow: hidden;
    border-bottom: 2px solid #000000;
    padding-bottom: 80px;
    margin-bottom: 80px;
}
.categorygrid:last-child {
    border-bottom: none;
}
.guideindex.inner {
    padding: 0 20px 20px 40px;
}
.category .inner,
.toc .inner {
    padding: 25px 15px 25px 20px;
}
@media (min-width: 1200px) {
    .category .inner,
    .toc .inner {
        padding: 70px 20px 20px 40px;
    }    
}

body.guide .toc ul {
    padding-left: 0;
}
body.guide .toc li {
    padding-left: 0;
    list-style-type: none;
    text-transform: uppercase;
}
body.guide .toc li ul li {
    padding-left: 1rem;
}
body.guide .toc a {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 25px;
}
body.guide .toc .title_large {
    font-size: 1.5rem;
}
.underline {
    width: 58px;
    height: 2px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 15px;
}
body.guide .toc .underline {
    background: #fff;
}
/* END - TABLE OF CONTENTS */

.col-md-8 div.underline + div.sect1 .paragraph:nth-child(0n+1) {
    font-weight: bold;
    font-size: 24px;
}

.col-md-8 div.underline + div.sect1 .paragraph:nth-child(1n) p {
    margin-bottom: 5px;
}

.col-md-8 div.underline + div.sect1 {
    margin-bottom: 30px;
}

.sect1 {
    margin-top: 30px;
    margin-bottom: 60px;
}

.sect1 h2, .sect2 h3 {
    margin-bottom: 20px;
    text-transform: none;
}

.sect2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sect1 img {
    max-width: 100%;
}

.listingblock>.content>pre {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow-x: auto;
    padding: 1em;
    font-size: .8125em;
}
.listingblock>.title, .literalblock>.title {font-style: italic;line-height:1.45;color:#7a2518;margin-top:0;margin-bottom:.25em;}

.colist td:not([class]):first-child {
    padding: .4em .75em 0;
    line-height: 1;
    vertical-align: top;
}
.colist { margin-bottom: 25px; overflow: auto; }

.conum[data-value]{display:inline-block;color:#fff!important;background:rgba(0,0,0,.8);-webkit-border-radius:50%;border-radius:50%;text-align:center;font-size:.75em;width:1.67em;height:1.67em;line-height:1.67em;font-family:"Open Sans","DejaVu Sans",sans-serif;font-style:normal;font-weight:bold;}
.conum[data-value] *{color:#fff!important}
.conum[data-value]+b{display:none}
.conum[data-value]::after{content:attr(data-value)}
    
    
/* Stylesheet for CodeRay to match GitHub theme | MIT License | http://foundation.zurb.com */
pre.CodeRay{background:#f7f7f8}
.CodeRay .line-numbers{border-right:1px solid currentColor;opacity:.35;padding:0 .5em 0 0}
.CodeRay span.line-numbers{display:inline-block;margin-right:.75em}
.CodeRay .line-numbers strong{color:#000}
table.CodeRay{border-collapse:separate;border:0;margin-bottom:0;background:none}
table.CodeRay td{vertical-align:top;line-height:inherit}
table.CodeRay td.line-numbers{text-align:right}
table.CodeRay td.code{padding:0 0 0 .75em}
.CodeRay .debug{color:#fff !important;background:#000080 !important}
.CodeRay .annotation{color:#007}
.CodeRay .attribute-name{color:#000080}
.CodeRay .attribute-value{color:#700}
.CodeRay .binary{color:#509}
.CodeRay .comment{color:#998;font-style:italic}
.CodeRay .char{color:#04d}
.CodeRay .char .content{color:#04d}
.CodeRay .char .delimiter{color:#039}
.CodeRay .class{color:#458;font-weight:bold}
.CodeRay .complex{color:#a08}
.CodeRay .constant,.CodeRay .predefined-constant{color:#008080}
.CodeRay .color{color:#099}
.CodeRay .class-variable{color:#369}
.CodeRay .decorator{color:#b0b}
.CodeRay .definition{color:#099}
.CodeRay .delimiter{color:#000}
.CodeRay .doc{color:#970}
.CodeRay .doctype{color:#34b}
.CodeRay .doc-string{color:#d42}
.CodeRay .escape{color:#666}
.CodeRay .entity{color:#800}
.CodeRay .error{color:#808}
.CodeRay .exception{color:inherit}
.CodeRay .filename{color:#099}
.CodeRay .function{color:#900;font-weight:bold}
.CodeRay .global-variable{color:#008080}
.CodeRay .hex{color:#058}
.CodeRay .integer,.CodeRay .float{color:#099}
.CodeRay .include{color:#555}
.CodeRay .inline{color:#000}
.CodeRay .inline .inline{background:#ccc}
.CodeRay .inline .inline .inline{background:#bbb}
.CodeRay .inline .inline-delimiter{color:#d14}
.CodeRay .inline-delimiter{color:#d14}
.CodeRay .important{color:#555;font-weight:bold}
.CodeRay .interpreted{color:#b2b}
.CodeRay .instance-variable{color:#008080}
.CodeRay .label{color:#970}
.CodeRay .local-variable{color:#963}
.CodeRay .octal{color:#40e}
.CodeRay .predefined{color:#369}
.CodeRay .preprocessor{color:#579}
.CodeRay .pseudo-class{color:#555}
.CodeRay .directive{font-weight:bold}
.CodeRay .type{font-weight:bold}
.CodeRay .predefined-type{color:inherit}
.CodeRay .reserved,.CodeRay .keyword {color:#000;font-weight:bold}
.CodeRay .key{color:#808}
.CodeRay .key .delimiter{color:#606}
.CodeRay .key .char{color:#80f}
.CodeRay .value{color:#088}
.CodeRay .regexp .delimiter{color:#808}
.CodeRay .regexp .content{color:#808}
.CodeRay .regexp .modifier{color:#808}
.CodeRay .regexp .char{color:#d14}
.CodeRay .regexp .function{color:#404;font-weight:bold}
.CodeRay .string{color:#d20}
.CodeRay .string .string .string{background:#ffd0d0}
.CodeRay .string .content{color:#d14}
.CodeRay .string .char{color:#d14}
.CodeRay .string .delimiter{color:#d14}
.CodeRay .shell{color:#d14}
.CodeRay .shell .delimiter{color:#d14}
.CodeRay .symbol{color:#990073}
.CodeRay .symbol .content{color:#a60}
.CodeRay .symbol .delimiter{color:#630}
.CodeRay .tag{color:#008080}
.CodeRay .tag-special{color:#d70}
.CodeRay .variable{color:#036}
.CodeRay .insert{background:#afa}
.CodeRay .delete{background:#faa}
.CodeRay .change{color:#aaf;background:#007}
.CodeRay .head{color:#f8f;background:#505}
.CodeRay .insert .insert{color:#080}
.CodeRay .delete .delete{color:#800}
.CodeRay .change .change{color:#66f}
.CodeRay .head .head{color:#f4f}