.copytoclipboard {
    background-color: lightgray;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    float: right;
    font-size: 12px;
    padding: 5px 5px;
    position: absolute;
    right: 15px;
    text-align: center;
    white-space: nowrap;
    width: 65px;
}

.guide-list h3.guide-list-header {
    background-color: rgb(37, 89, 167);
    padding: 11px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}

.guide-list .guide {
    padding-bottom: 25px;
}

.guide-list .guide:last-child {
    padding-bottom: 0;
}

.guide-list .guide .guide-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 5px;
}

.guide-list .guide .guide-date {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 5px;
}

.guide-list .guide .guide-intro {
    padding: 6px 0;
}

.guide-list .guide .guide-tag-list {
    font-size: 16px;
    font-weight: 400;
}

.guide-list .guide .guide-tag-list .guide-tag a {
    color:rgb(37, 89, 167);
    text-decoration: none;
}

.guide-list .guide .guide-tag-list .guide-tag a:hover {
    text-decoration: underline;
}
