.copytoclipboard {
    background-color: lightgray;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    float: right;
    font-size: 12px;
    padding: 5px 5px;
    position: absolute;
    right: 15px;
    text-align: center;
    white-space: nowrap;
    width: 65px;
}
