.copytoclipboard {
    background-color: lightgray;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    float: right;
    font-size: 12px;
    padding: 5px 5px;
    position: absolute;
    right: 15px;
    text-align: center;
    white-space: nowrap;
    width: 65px;
}

.guide-list h3.guide-list-header {
    background-color: rgb(37, 89, 167);
    padding: 11px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}

.guide-list .guide {
    padding-bottom: 25px;
}

.guide-list .guide:last-child {
    padding-bottom: 0;
}

.guide-list .guide .guide-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 5px;
}

.guide-list .guide .guide-date {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 5px;
}

.guide-list .guide .guide-intro {
    padding: 6px 0;
}

.guide-list .guide .guide-tag-list {
    font-size: 16px;
    font-weight: 400;
}

.guide-list .guide .guide-tag-list .guide-split {
    font-weight: lighter;
}

.guide-list .guide .guide-tag-list .guide-tag a {
    color:rgb(37, 89, 167);
    text-decoration: none;
}

.guide-list .guide .guide-tag-list .guide-tag a:hover {
    text-decoration: underline;
}

/* shrink title box on small screens */
@media (max-width: 767.98px) {
    .grid-item:before {
        padding-top: 40%;
    }
}

.videoblock {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videoblock iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tableblock td {
    border: 1px dotted #cccccc;
    padding: 5px;
    text-align: center;
}
