micronaut:
  application:
    name: micronautguide
---
#tag::http-services[]
micronaut:
  http:
    services:
      kocoin: # <1>
        urls:
          - "https://api.kucoin.com" # <2>
#end::http-services[]
---
#tag::metrics[]
micronaut:
  metrics:
    enabled: true # <1>
    export:
#      atlas: # <2>
#        enabled: true # <3>
#        uri: http://localhost:7101/api/v1/publish
#        step: PT1M # <4>
    binders: # <5>
      files:
        enabled: true
      jdbc:
        enabled: true
      jvm:
        enabled: true
      logback:
        enabled: true
      processor:
        enabled: true
      uptime:
        enabled: true
      web:
        enabled: true
#end::metrics[]
---
#tag::datasource[]
datasources:
  default:
    url: ${JDBC_URL:`jdbc:mysql://localhost:3306/db`}
    username: ${JDBC_USER:root}
    password: ${JDBC_PASSWORD:}
    dialect: MYSQL
    driverClassName: ${JDBC_DRIVER:com.mysql.cj.jdbc.Driver}
#end::datasource[]
netty:
  default:
    allocator:
      max-order: 3
#tag::flyway[]
flyway:
  datasources:
    default:
      enabled: true # <1>
#end::flyway[]
