<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>Micronaut - Auth0 example</h1>

<h2 th:if="${security && nickname}">nickname: <span th:text="(${nickname})"></span></h2>
<img th:if="${picture}" style="border-radius: 50%;" height="75" alt="Profile picture" th:src="${picture}"/>
<h2 th:unless="${security}">nickname: Anonymous</h2>

<nav>
    <ul>
        <li th:unless="${security}"><a href="/oauth/login/auth0">Enter</a></li>
        <li th:if="${security}"><a href="/oauth/logout">Logout</a></li>
    </ul>
</nav>

<div class="container">
    <div class="splash" th:if="${security}">
        <h1 class="splash-head">Data about the principal retrieved from Auth0</h1>
        <p class="splash-subhead">
        <pre class="code" data-lang="JSON">
<code>{
    "aud": "<span th:text="${aud}"></span>",
    "email": "<span th:text="${email}"></span>",
    "email_verified": "<span th:text="${email_verified}"></span>",
    "exp": "<span th:text="${exp}"></span>",
    "family_name": "<span th:text="${family_name}"></span>",
    "given_name": "<span th:text="${given_name}"></span>",
    "iat": "<span th:text="${iat}"></span>",
    "iss": "<span th:text="${iss}"></span>",
    "locale": "<span th:text="${locale}"></span>",
    "picture": "<span th:text="${picture}"></span>",
    "name": "<span th:text="${name}"></span>",
    "nickname": "<span th:text="${nickname}"></span>",
    "nonce": "<span th:text="${nonce}"></span>",
    "updated_at": "<span th:text="${updated_at}"></span>",
    "sid": "<span th:text="${sid}"></span>",
    "sub": "<span th:text="${sub}"></span>",
}</code>
                </pre>
        </p>
    </div>
</div>

</body>
</html>
