<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %X{AWSRequestId} %X{AWSFunctionName} %X{AWSFunctionVersion} %X{AWSFunctionArn} %X{AWSFunctionMemoryLimit}  %X{AWSFunctionRemainingTime} %X{AWS-XRAY-TRACE-ID} %-5p %c{1} - %m%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>