micronaut:
  application:
    name: micronaut-guide
  #tag::oauth2[]
  security:
    authentication: idtoken # <1>
    oauth2:
      clients:
        okta: # <2>
          client-secret: '${OAUTH_CLIENT_SECRET:yyy}' # <3>
          client-id: '${OAUTH_CLIENT_ID:xxx}' # <4>
          openid:
            issuer: '${OIDC_ISSUER_DOMAIN:`https://dev-XXXXX.oktapreview.com`}/oauth2/${OIDC_ISSUER_AUTHSERVERID:default}' # <5>
    endpoints:
      logout:
        get-allowed: true # <6>
#end::oauth2[]
