name: Java CI for Micronaut SNAPSHOT
on:
  schedule:
    - cron: '0 5 * * 1-5'
  workflow_dispatch:
jobs:
  patch-snapshot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['8', '11']
    env:
      JDK_VERSION:  ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: '2.5.x'
      - uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Use next snapshot patch version
        run: ./increment_version.sh -p
      - name: Build with Gradle
        run: ./gradlew build
      - name: Execute tests
        run: |
          export AWS_ACCESS_KEY_ID=XXX
          export AWS_SECRET_ACCESS_KEY=YYY
          export AWS_REGION=us-east-1
          cd build/code && ./test.sh ; cd ../..
      - name: Archive test reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-reports-${{ matrix.java }}
          path: /home/runner/work/micronaut-guides/micronaut-guides/build/code/
