name: Java CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['8', '11']
    env:
      JDK_VERSION:  ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Build with Gradle
        run: ./gradlew build -Dmicronaut.guide=micronaut-http-client
      - name: Execute tests
        run: 'cd build/code && ./test.sh ; cd ../..'
      - name: Archive test reports
        uses: actions/upload-artifact@v2
        #if: failure()
        with:
          name: test-reports-${{ matrix.java }}
          path: /home/runner/work/micronaut-guides-poc/micronaut-guides-poc/build/code/
      - name: Calculate version of the guides
        id: guides_version
        run: |
          current_version=`cat version.txt`
          tmp_version=( ${current_version//./ } )
          version=`echo "${tmp_version[0]}.${tmp_version[1]}.x"`
          echo ::set-output name=guides_version::${version}
      - name: Publish to Github Pages
        if: success() && github.event_name == 'push' && matrix.java == '8'
        uses: micronaut-projects/github-pages-deploy-action@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build/dist
          VERSION: ${{ steps.guides_version.outputs.guides_version }}